@model IEnumerable<KimiNoGakko.Models.Enrollment>

@{
    ViewData["Title"] = "Lista";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Utwórz zapis</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class.FullName)
            </th>
            <th>
                Nazwa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Classes" asp-action="Details" asp-route-id="@item.ClassID">@item.Class.FullName</a>
                </td>
                <td>
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.CourseID">@item.Course.FullName</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
