@model KimiNoGakko.Models.Employee

@{
    ViewData["Title"] = "Usuń";
}

<h2>@ViewData["Title"]</h2>

<h3>Czy jesteś pewny, że chcesz usunąć pracownika?</h3>
<div>
    <h4>Pracownik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pesel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Usuń" class="btn btn-primary" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
