@model EmployeeDetailsVM

@{
    ViewData["Title"] = "Szczegóły";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <h4>Pracownik</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Employee.FirstMidName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Employee.FirstMidName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Employee.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Employee.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Employee.BirthDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Employee.BirthDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Employee.Pesel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Employee.Pesel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Employee.HireDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Employee.HireDate)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Employee.ID">Edytuj</a> |
            <a asp-action="Index">Wróć do listy</a>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nazwa przedmiotu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Courses)
                {
                    <tr>
                        <td>
                            @item.Subject.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
