@model StudentClassVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Student.FirstMidName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Student.FirstMidName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Student.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Student.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Student.BirthDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Student.BirthDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Student.Pesel)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Student.Pesel)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Student.GudrdianPhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Student.GudrdianPhoneNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Student.Class.Name)
                </dt>
                <dd>
                    @if (@Model.Student.ClassID != 0)
                    {
                        <a asp-controller="Classes" asp-action="Details" asp-route-id="@Model.Student.ClassID">@Html.DisplayFor(model => model.Student.Class.FullName)</a>
                    }
                    else
                    {
                        <text>(nieprzypisany)</text>
                    }
                </dd>
            </dl>
            <div class="text-center">
                <a asp-action="Edit" asp-route-id="@Model.Student.ID">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>

        <div class="col-md-offset-2 col-md-6">
            <form asp-action="AssignToClass" method="post" asp-route-id="@Model.Student.ID">
                <div class="form-group">
                    <label class="control-label" asp-for="Student.Class.Name"></label>
                    @Html.DropDownListFor(x => x.Student.ClassID,
                        new SelectList(Model.Classes, "ClassID", "FullName"), new { @class = "form-control" }
                        )
                </div>
                <div class="form-group">
                    <input type="submit" value="Zapisz" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>